<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehe</title>
    <!-- Include htmx -->
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/art">Art</a>
</nav>

{{template "content" .}}

{{ if eq .Env "development" }}
    <script src="http://localhost:3000/bundle.js"></script>
{{ else }}
    <script src="/static/dist/bundle.js"></script>
{{ end }}

</body>
</html>
